@{
    ViewBag.Title = "DC_OA_MeetingSubjectSum";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="lr-form-wrap" id="form">
    <div class="col-xs-12 lr-form-item" data-table="DC_OA_MeetingSubjectSum">
        <div class="lr-form-item-title">议题清单名称<font face="宋体">*</font></div>
        <input id="F_SubListName" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-12 lr-form-item" data-table="DC_OA_OfficeWoodsReply">
        <div class="lr-form-item-title">附件</div>
        <div id="F_Files"></div>
    </div>
    <div class="col-xs-12 lr-form-item" data-table="DC_OA_MeetingSubjectSum">
        <div class="lr-form-item-title">议题描述</div>
        <textarea id="F_Content" class="form-control" style="height:100px;"></textarea>
    </div>
    <div class="col-xs-12 lr-form-item lr-form-item-grid">
        <div id="DC_OA_MeetingSubject"></div>
    </div>
</div>
@Html.AppendJsFile("/Areas/LR_CodeDemo/Views/DC_OA_MeetingSubjectSum/Form.js")
