<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<!-- ================== 1：开发系统相关配置 ================== -->
	<!-- 启用系统日志-->
	<add key="vs:EnableBrowserLink" value="false"/>
	<add key="IsLog" value="true" />
	<!-- 是否启用js、css压缩-->
	<add key="JsCompressor" value="false" />
	<!-- 是否启用js、css缓存-->
	<add key="JsCompressorCache" value="false" />
	<!-- 代码生成器路径-->
	<add key="BackProject" value="Learun.Application.TwoDevelopment" />
	<add key="MappingDirectory" value="\Learun.Framework.Module\Learun.Application.Module\Learun.Application.Mapping" />
	<add key="ServiceDirectory" value="\Learun.Framework.Module\Learun.Application.Module\Learun.Application.TwoDevelopment" />
	<add key="WebDirectory" value="\Learun.Application.Web" />
	<add key="ApiDirectory" value="\Learun.Application.WebApi" />
	<add key="AppDirectory" value="\Learun.Application.Mobile" />
	<add key ="faceclientId" value="rTnUGz4RZyi1gFX5uiQiS6qd" />
	<add key ="faceclientSecret" value="jBA9Yy5FBmh7vMBHLf5b677gYGcfIqob" />
	<add key ="faceliveness" value="0.393241" />
	<add key ="facescore" value="70" />
	<add key="PrivateKeyFile" value="C:\Users\key"/>
	<add key="BaseUrl" value="http://39.96.11.81:8085/"/>
	<add key ="AppName" value="金润源移动综合信息管理系统"/>
	<add key ="appversion" value="1.1"/>
	<add key ="Updatetime" value="2019-05-13"/>
	<add key ="Url" value="115.18.155.8:8099/Appstore/jryapp.apk"/>
	<!-- ================== 2：这里主要是微信配置项内容部分 ================== -->
	<!--企业号CorpId -->
	<add key="CorpId" value="wxa2c39f6194f44ff4" />
	<!--企业号凭证密钥 -->
	<add key="CorpSecret" value="LmYickyCL7sc1oVyUnUhXo24brefyM3AQbZnL7CP7Xs" />
	<!--开放平台AppId -->
	<add key="AppId" value="wxd75b6651c86f816b" />
	<!--开放平台凭证密钥 -->
	<add key="AppSecret" value="a198e160569ccb1eabad28c2431e6e1b" />
	<!-- ================== 3：访问过滤配置 ================== -->
	<!--设置IP过滤 -->
	<add key="FilterIP" value="false" />
	<!--设置时段过滤 -->
	<add key="FilterTime" value="false" />
	<!-- ================== 4：系统软件参数配置 ================== -->
	<!-- 联系我们 -->
	<add key="Contact" value="http://www.dongyatu.com" />
	<!-- 公司名称 -->
	<add key="CustomerCompanyName" value="武汉东雅图科技有限公司" />
	<!-- 系统名称 -->
	<add key="SystemName" value="企业综合信息管理系统" />
	<!-- 软件名称 -->
	<add key="SoftName" value="企业综合信息管理系统" />
	<!-- 软件版本 -->
	<add key="Version" value="7.0.1" />
	<!-- 软件注册码，备用 -->
	<add key="RegisterKey" value="NO:LR20180307002" />
	<!-- ================== 5：外部邮件参数 ================== -->
	<!-- 系统错误自动发送邮件 -->
	<add key="ErrorToMail" value="false" />
	<!-- 接收错误信息的邮箱 -->
	<add key="RereceiveErrorMail" value="receivebug@learun.cn" />
	<!-- 发出邮箱的名称 -->
	<add key="MailName" value="企业综合信息管理系统邮件中心" />
	<!-- 发出邮箱的地址 -->
	<add key="MailUserName" value="tony_liyf@163.com" />
	<!-- 发出邮箱的密码 -->
	<add key="MailPassword" value="wwqwqqq" />
	<!-- 发出邮箱设置邮箱主机 -->
	<add key="MailHost" value="smtp.163.com" />
	<!---短信平台-->
	<add key ="SMSNAME"  value="decheng"/>
	<add key ="SMSKEY"  value="d41d8cd98f00b204e980"/>
	<!-- ================== 6：即时通信参数 ================== -->
	<!-- SignalR服务接口-->
	<add key="IMUrl" value="http://115.28.155.8:8012/signalr" />
	<add key="IMOpen" value="true" />

	<add key="userKey" value="14B417B0-463D-4F2B-8075-0A20EEDB773A" />
	<!-- ================== 7：附件上传地址 ================== -->
	<add key="AnnexesFile" value="d:/oaSystem/doc/fileAnnexes" />
	<!-- ================== 8：流程服务地址 ================== -->
	<!--Redis 缓存前缀 -->
	<add key="RedisPrev" value="LRADMS" />
	<add key ="systemUrl" value ="http://115.28.155.8:8085/"/>
	<add key ="ServerUrl" value ="d:/OAManagerSystem/6.1.60release"/>
	<!--head 头像存储地址 -->
	<add key="fileHeadImg" value="d:/oaSystem/doc/fileHeadImg" />
	<add key="fileAppDTImg" value="d:/oaSystem/doc/fileAppDTImg" />
	<add key="fileLogoImg" value="d:/oaSystem/doc/fileLogoImg" />
	<add key="fileSignatureImg" value="d:/oaSystem/doc/fileSignatureImg" />
	<add key="fileHeadImgTemp"  value="d:/oaSystem/doc/fileHeadImgTemp"/>
	<!--印章管理存储图片路径 -->
	<add key="Stamp" value="d:/oaSystem/doc/StampImg" />
	<!--apk下载路径 -->
	<add key="AppDownUrl" value="d:/oaSystem/doc/ApkDownUrl" />

	<!--缓存链接配置-->
	<add key="RedisExchangeHosts" value="127.0.0.1:6379,allowadmin=true"/>
	<!--高德开发key-->
	<add key="AmapKey" value="f73d50800f65d1aa1533a45ab869a6ac"/>
</appSettings>