@{
    ViewBag.Title = "库存盘查";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="lr-form-wrap">
    <div class="col-xs-12 lr-form-item" style="padding:0;line-height:38px;text-align:center;font-size:20px;font-weight:bold;color:#333;" >
        <span>库存盘查</span>
    </div>
    <div class="col-xs-6 lr-form-item"  data-table="DC_OA_StockWoods" >
        <div class="lr-form-item-title">物品名称</div>
        <input id="DC_OA_WoodsName" type="text" class="form-control"  />
    </div>
    <div class="col-xs-6 lr-form-item"  data-table="DC_OA_StockWoods" >
        <div class="lr-form-item-title">规格</div>
        <input id="DC_OA_WoodsSpc" type="text" class="form-control"  />
    </div>
    <div class="col-xs-6 lr-form-item"  data-table="DC_OA_StockWoods" >
        <div class="lr-form-item-title">型号</div>
        <input id="DC_OA_WoodType" type="text" class="form-control"  />
    </div>
    <div class="col-xs-6 lr-form-item"  data-table="DC_OA_StockWoods" >
        <div class="lr-form-item-title">单位</div>
        <input id="DC_OA_WoodsUnit" type="text" class="form-control"  />
    </div>
    <div class="col-xs-12 lr-form-item"  data-table="DC_OA_StockWoods" >
        <div class="lr-form-item-title">当前库存数量</div>
        <input id="DC_OA_WoodsNumbers" type="text" class="form-control"  />
    </div>
</div>
@Html.AppendJsFile("/Areas/LR_CodeDemo/Views/DC_OA_StockWoods/Form.js")
