@{
    ViewBag.Title = "打卡记录";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="lr-form-wrap">
    <div class="col-xs-12 lr-form-item"  data-table="DC_OA_AttenceRecord" >
        <div class="lr-form-item-title">文本框</div>
        <input id="F_Description" type="text" class="form-control"  />
    </div>
</div>
@Html.AppendJsFile("/Areas/LR_CodeDemo/Views/DC_OA_AttenceRecord/Form.js")
