@{
    ViewBag.Title = "收文管理";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="lr-form-wrap" id="form">
    <div class="col-xs-12 lr-form-item" data-table="DC_OA_ReceiveOfficialDoc">
        <div class="lr-form-item-title">处理单标题<font face="宋体">*</font></div>
        <div id="F_DocTemplate" isvalid="yes" checkexpession="NotNull"></div>
    </div>
    <div class="col-xs-12 lr-form-item" data-table="DC_OA_ReceiveOfficialDoc">
        <div class="lr-form-item-title">来文单位<font face="宋体">*</font></div>
        <input id="F_SenderDepartment" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item" data-table="DC_OA_ReceiveOfficialDoc">
        <div class="lr-form-item-title">密级</div>
        <div id="F_DenseGrade"></div>
    </div>
    <div class="col-xs-6 lr-form-item" data-table="DC_OA_ReceiveOfficialDoc">
        <div class="lr-form-item-title">收文号</div>
        <input id="F_ReceiveCode" type="text" readonly class="form-control" />
    </div>
    <div class="col-xs-6 lr-form-item" data-table="DC_OA_ReceiveOfficialDoc">
        <div class="lr-form-item-title">份数</div>
        <input id="F_PrintNum" type="text" class="form-control" isvalid="yes" checkexpession="NumOrNull" />
    </div>
    <div class="col-xs-6 lr-form-item" data-table="DC_OA_ReceiveOfficialDoc">
        <div class="lr-form-item-title">收文时间<font face="宋体">*</font></div>
        <input id="F_ReceiveDate" type="text" class="form-control lr-input-wdatepicker" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd',onpicked: function () { $('#F_ReceiveDate').trigger('change'); } })" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item" data-table="DC_OA_ReceiveOfficialDoc">
        <div class="lr-form-item-title">文件标题<font face="宋体">*</font></div>
        <input id="F_Title" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item" data-table="DC_OA_ReceiveOfficialDoc">
        <div class="lr-form-item-title">文件字号</div>
        <input id="F_FileCode" type="text" class="form-control" />
    </div>
    <div class="col-xs-12 lr-form-item" data-table="DC_OA_ReceiveOfficialDoc">
        <div class="lr-form-item-title">正文</div>
        <div id="F_Attachments"></div>
    </div>
    <div class="col-xs-12 lr-form-item" data-table="DC_OA_ReceiveOfficialDoc" style="display:none">
        <div class="lr-form-item-title">收文部门</div>
        <input id="F_DepartmentId" type="text" readonly class="form-control currentInfo lr-currentInfo-department" />
    </div>
    <div class="col-xs-12 lr-form-item" data-table="DC_OA_ReceiveOfficialDoc" style="display:none">
        <div class="lr-form-item-title">收文人</div>
        <input id="F_CreateUserId" type="text" readonly class="form-control currentInfo lr-currentInfo-user" />
    </div>
    <div class="col-xs-12 lr-form-item" data-table="DC_OA_ReceiveOfficialDoc" style="display:none">
        <div class="lr-form-item-title">收文时间</div>
        <input id="F_CreateDate" type="text" readonly class="form-control currentInfo lr-currentInfo-time" />
    </div>
</div>
@Html.AppendJsFile("/Areas/LR_CodeDemo/Views/DC_OA_DispatchOfficialDocManager/DocUpload.js", "/Areas/LR_CodeDemo/Views/DC_OA_ReceiveOfficialDocManager/Form1.js")
