

@{
    ViewBag.Title = "ExcelImport";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<div class="lr-form-wrap" id="form">

    <div class="col-xs-12 lr-form-item">
        <div class="lr-form-item-title">房产证导入</div>
        <div id="F_Contract"></div>
    </div>

</div>

@Html.AppendJsFile("/Areas/AssetManager/Views/DC_ASSETS_HouseInfo/CeticateImport.js")