@{
    ViewBag.Title = "DC_OA_PerformanceUserWorkPlan";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="lr-form-wrap" id="form">
    <div class="col-xs-12" >
        <textarea id="txt_Advice" class="form-control" style="height: 300px;margin-left: 30px;width: 340px;"></textarea>
    </div>
</div>
@Html.AppendJsFile("/Areas/LR_CodeDemo/Views/DC_OA_PerformanceUserWorkInterview/AdviceForm.js")
