@{
    ViewBag.Title = "DC_OA_PerformanceUserWorkInterview";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="lr-layout lr-layout-left-center" id="lr_layout">

    <div class="lr-layout-left">
        <div class="lr-layout-wrap">
            <div class="lr-layout-title lrlg ">部门人员信息</div>
            <div id="dataTree" class="lr-layout-body"></div>
        </div>
    </div>
    <div class="lr-layout-center">
        <div class="lr-layout-wrap ">
            <div class="lr-layout-title">
                <span id="titleinfo" class="lrlg">上级绩效考核</span>
            </div>
            <div class="lr-layout-tool">
                <div class="lr-layout-tool-left">
                    <div class="lr-layout-tool-item">
                        <div id="datesearch"></div>
                    </div>
                </div>
            </div>
            <div class="lr-layout-body" id="gridtable"></div>
         
        </div>
    </div>
</div>
@Html.AppendJsFile("/Areas/LR_CodeDemo/Views/DC_OA_PerformanceUserWorkInterview/Index2.js")
