@{
    ViewBag.Title = "DC_ASSETS_HouseRentIncome";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<style>
    #DC_ASSETS_HouseRentIncome {
        height: 685px !important;
    }
</style>
<div class="lr-form-wrap" id="form">

    <div style="position:relative;height:100%;width:100%;padding-top:50px;">
        <div style="position:absolute;width:100%;height:40px;border-bottom:1px solid #ccc;top:0;left:0; ">
            <div class="lr-layout-tool-item">
                <input id="txt_Keyword" style="float: left;width: 215px;margin-right: 15px;margin-left: 11px;" type="text" class="form-control" placeholder="请输入查询关键字" />
            </div>
            <div class="lr-layout-tool-item">
                <a id="btn_Search" class="btn btn-primary btn-sm"><i class="fa fa-search"></i>&nbsp;查询</a>
            </div>
        </div>
        <div class="col-xs-12 lr-form-item lr-form-item-grid" style="margin-top: -10px;">
            <div id="DC_ASSETS_HouseRentIncome" style="height: 685px;"></div>
        </div>

    </div>
   
</div>
@Html.AppendJsFile("/Areas/AssetManager/Views/DC_ASSETS_HouseRentMain/FormRent.js")
