@{
    ViewBag.Title = "DC_OA_InStock";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="lr-form-wrap">
    <div class="col-xs-12 lr-form-item" style="padding:0;line-height:38px;text-align:center;font-size:20px;font-weight:bold;color:#333;" >
        <span>办公用品入库</span>
    </div>
    <div class="col-xs-6 lr-form-item"  data-table="DC_OA_InStock" >
        <div class="lr-form-item-title">入库单据</div>
        <input id="DC_OA_InStockNo" type="text" readonly class="form-control" />
    </div>
    <div class="col-xs-6 lr-form-item"  data-table="DC_OA_InStock" >
        <div class="lr-form-item-title">日期</div>
        <input id="DC_OA_InStockTime" type="text" class="form-control lr-input-wdatepicker" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd',onpicked: function () { $('#DC_OA_InStockTime').trigger('change'); } })"   />
    </div>
    <div class="col-xs-6 lr-form-item"  data-table="DC_OA_InStock" >
        <div class="lr-form-item-title">金额(元）</div>
        <input id="DC_OAInStockMoney" type="text" class="form-control"  />
    </div>
    <div class="col-xs-6 lr-form-item"  data-table="DC_OA_InStock" >
        <div class="lr-form-item-title">经办人</div>
        <input id="F_CurrentUserId" type="text" readonly class="form-control currentInfo lr-currentInfo-user" />
    </div>
    <div class="col-xs-6 lr-form-item"  data-table="DC_OA_InStock" >
        <div class="lr-form-item-title">入库状态</div>
        <div id="DC_OA_InStockState"   ></div>
    </div>
    <div class="col-xs-12 lr-form-item lr-form-item-grid" >
        <div id="DC_OA_InStockDetails"></div>
    </div>
</div>
@Html.AppendJsFile("/Areas/LR_CodeDemo/Views/DC_OA_InStock/Form.js")
