@{
    ViewBag.Title = "DC_OA_PerformanceCheck";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="lr-layout ">
    <div class="lr-layout-center">
        <div class="lr-layout-wrap lr-layout-wrap-notitle ">
            <div class="lr-layout-tool">
                <div class="lr-layout-tool-left">
                </div>
                <div class="lr-layout-tool-right">
                    <div class=" btn-group btn-group-sm">
                        <a id="lr_refresh" class="btn btn-default"><i class="fa fa-refresh"></i></a>
                    </div>
                    <div class=" btn-group btn-group-sm">
                        <a id="lr_add_year" class="btn btn-default"><i class="fa fa-plus"></i>&nbsp;新增年度考核</a>
                        <a id="lr_add_month" class="btn btn-default"><i class="fa fa-plus"></i>&nbsp;新增月度考核</a>
                        <a id="lr_edit" class="btn btn-default"><i class="fa fa-pencil-square-o"></i>&nbsp;编辑</a>
                        <a id="lr_delete" class="btn btn-default"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
                        <a id="lr_send" class="btn btn-default"><i class="fa fa-send"></i>&nbsp;提交</a>
                        <a id="lr_info" class="btn btn-default"><i class="fa fa-eye"></i>&nbsp;查看</a>
                    </div>
                </div>
            </div>
            <div class="lr-layout-body" id="gridtable"></div>
        </div>
    </div>
</div>
@Html.AppendJsFile("/Areas/LR_CodeDemo/Views/DC_OA_PerformanceCheck/Index.js")
