@{
    ViewBag.Title = "DC_ASSETS_BusStopBillboardsMaintenanceRecords";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="lr-layout ">
    <div class="lr-layout-center">
        <div class="lr-layout-wrap lr-layout-wrap-notitle ">
            <div class="lr-layout-tool">
                <div class="lr-layout-tool-left">
                    <div class="lr-layout-tool-item">
                        <div id="datesearch"></div>
                    </div>
                    <div class="lr-layout-tool-item">
                        <div id="multiple_condition_query">
                            <div class="lr-query-formcontent">
                                <div class="col-xs-12 lr-form-item">
                                    <div class="lr-form-item-title">申请部门</div>
                                    <input id="F_ApplicationDepartmentId" type="text" class="form-control" />
                                </div>
                                <div class="col-xs-12 lr-form-item">
                                    <div class="lr-form-item-title">申请人</div>
                                    <input id="F_ApplicationUserId" type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lr-layout-tool-right">
                    <div class=" btn-group btn-group-sm">
                        <a id="lr_refresh" class="btn btn-default"><i class="fa fa-refresh"></i></a>
                    </div>
                    <div class=" btn-group btn-group-sm">
                        <a id="lr-replace" class="btn btn-default"><i class="fa fa-refresh"></i>&nbsp;<span class="lrlg">刷新</span></a>
                        <a id="lr-export" class="btn btn-default"><i class="fa fa-sign-out"></i>&nbsp;<span class="lrlg">导出</span></a>
                    </div>
                </div>
            </div>
            <div class="lr-layout-body" id="gridtable"></div>
        </div>
    </div>
</div>
@Html.AppendJsFile("/Areas/AssetManager/Views/DC_ASSETS_BusStopBillboardsMaintenanceRecords/Index.js")
