@{
    ViewBag.Title = "流程模板预览";
    Layout = "~/Views/Shared/_WorkFlowNewForm.cshtml";
}
<div style="position:relative;width:100%;height:100%;">
    <div style="position:relative;width:100%;height:100%;" id="flow">

    </div>
</div>
@Html.AppendCssFile("/Areas/LR_NewWorkFlow/Views/NWFScheme/PreviewForm.css")

@Html.AppendJsFile("/Areas/LR_NewWorkFlow/Views/NWFScheme/PreviewForm.js")
