<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="BaseDb" connectionString="Server=rm-2ze7dj823551kcl6s4o.sqlserver.rds.aliyuncs.com,3433;Initial Catalog=oasystem;User ID=decheng;Password=decheng@2018" providerName="System.Data.SqlClient" />-->
  <add name="BaseDb" connectionString="Server=59.173.13.200;Initial Catalog=admspro0604;Uid=sa;Password=dc2019@Admin;Connection Timeout=2880000" providerName="System.Data.SqlClient" />
  <!-- <add name="BaseDb" connectionString="Server=115.28.155.8;Initial Catalog=admspro0716;User ID=sa;Password=dyt@2016;Connection Timeout=2880000" providerName="System.Data.SqlClient" />>-->


  <!--<add name="BaseDb" connectionString="server=192.168.0.4;user id=learun;password=learun.com;database=LeaRunFramework_Base_2016;charset=utf8" providerName="MySql.Data.MySqlClient" />-->
  <!--<add name="BaseDb" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.12 )(PORT=1521))(CONNECT_DATA=(SERVER = DEDICATED)(SERVICE_NAME=LEARUN)));User Id=learun;Password=qwert12345;" providerName="Oracle.ManagedDataAccess.Client"/>-->
  <add name="WFDB" connectionString="Server=115.28.155.8;Initial Catalog=admspro0716;User ID=sa;Password=dyt@2016" providerName="System.Data.SqlClient" />
  <add name="sql" connectionString="Server=115.28.155.8;Initial Catalog=admspro0716;User ID=sa;Password=dyt@2016" providerName="System.Data.SqlClient" />
  <add name="Weamversql" connectionString="Server=115.28.155.8;Initial Catalog=ecology;User ID=sa;Password=dyt@2016" providerName="System.Data.SqlClient" />
  <add name="ecologySql" connectionString="Server=115.28.155.8;Initial Catalog=ecology;User ID=sa;Password=dyt@2016" providerName="System.Data.SqlClient" />
</connectionStrings>