@{
    ViewBag.Title = "发文管理";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="lr-form-wrap" id="form">
    <div class="col-xs-12 lr-form-item" style="padding:0;line-height:38px;text-align:center;font-size:20px;font-weight:bold;color:#333;">
        <span>发文处理单</span>
    </div>
    <div class="col-xs-12 lr-form-item" data-table="DC_OA_DispatchOfficialDoc">
        <div class="lr-form-item-title">编号</div>
        <input id="F_FileCode" type="text" value="@ViewBag.OrderCode" readonly class="form-control" />
    </div>
    <div class="col-xs-6 lr-form-item" data-table="DC_OA_DispatchOfficialDoc">
        <div class="lr-form-item-title">密级</div>
        <div id="F_DenseGrade" readonly></div>
    </div>
    <div class="col-xs-6 lr-form-item" data-table="DC_OA_DispatchOfficialDoc">
        <div class="lr-form-item-title">紧急程度</div>
        <div id="F_EmergencyLevel" readonly> </div>
    </div>
    <div class="col-xs-12 lr-form-item" data-table="DC_OA_DispatchOfficialDoc">
        <div class="lr-form-item-title">标题<font face="宋体">*</font></div>
        <input id="F_Title" readonly type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item" data-table="DC_OA_DispatchOfficialDoc">
        <div class="lr-form-item-title">拟稿部门</div>
        <div id="F_DraftDepartmentId" readonly></div>
    </div>
    <div class="col-xs-6 lr-form-item" data-table="DC_OA_DispatchOfficialDoc">
        <div class="lr-form-item-title">拟稿人<font face="宋体">*</font></div>
        <div id="F_DraftUserId" readonly isvalid="yes" checkexpession="NotNull"></div>
    </div>
    <div class="col-xs-6 lr-form-item" data-table="DC_OA_DispatchOfficialDoc">
        <div class="lr-form-item-title">拟稿时间<font face="宋体">*</font></div>
        <input id="F_DraftDate" readonly type="text" class="form-control lr-input-wdatepicker" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd',onpicked: function () { $('#F_CreateDate').trigger('change'); } })" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item" data-table="DC_OA_DispatchOfficialDoc">
        <div class="lr-form-item-title">是否办结</div>
        <div readonly id="F_IfCompletion"></div>
    </div>
    <div class="col-xs-12 lr-form-item" data-table="DC_OA_DispatchOfficialDoc" style="display:none">
        <div class="lr-form-item-title">拟稿</div>
        <div id="F_FileContent"></div>
    </div>
    <div class="col-xs-12 lr-form-item" data-table="DC_OA_DispatchOfficialDoc">
        <div class="lr-form-item-title">正文</div>
        <div id="F_FileContent_New"></div>
    </div>
    <div class="col-xs-12 lr-form-item" data-table="DC_OA_DispatchOfficialDoc">
        <div class="lr-form-item-title">附件</div>
        <div id="F_Attachments"></div>
    </div>
</div>
@Html.AppendJsFile("/Areas/LR_CodeDemo/Views/DC_OA_DispatchOfficialDocManager/DocSelect.js","/Areas/LR_CodeDemo/Views/DC_OA_DispatchOfficialDocManager/DocUpload.js",
    "/Areas/LR_CodeDemo/Views/DC_OA_DispatchOfficialDocManager/Form_4.js")
@Html.AppendCssFile("/Areas/LR_CodeDemo/Views/DC_OA_DispatchOfficialDocManager/DocSelect.css")
