<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
   
        <meta http-equiv="X-UA-Compatible" content="IE=9;IE=8;IE=7">
  
    <script src="~/Content/jQuery-EasyUi/jquery.min.js"></script>
    <script src="~/Content/webOffice/webOffice.js"></script>
</head>
<body onload="init()">
    <b style="color:red">第一次运行，请先下载在线编辑office插件，点此<a href="~/Content/webOffice/weboffice.rar">下载控件</a>。</b>请在打开包含控件的页面窗口时，如果有提示是与否时，则选择[是]按钮,才能正常运行。 <br>
    <div id="acx" style="width:100%;height:100%">
    </div>
    <script type="text/javascript">
        function request(d) { for (var c = location.search.slice(1).split("&"), a = 0; a < c.length; a++) { var b = c[a].split("="); if (b[0] == d) if ("undefined" == unescape(b[1])) break; else return unescape(b[1]) } return "" };
        function init() {
            var fileId = request('fileId')
            var name = request('t')
            var strRoot = window.location.protocol + "//" + window.location.host
            $('#acx').WebOffice({
                showMenu: false,
                operator: name,
                editable: true,
                openUrl: strRoot + '/LR_CodeDemo/WebOffice/DownAnnexesFile?fileId=' + fileId,
                saveUrl: strRoot + '/LR_CodeDemo/WebOffice/UploadAnnexesFile?fileId=' + fileId,
                btn: ['save']
            })
        }
    </script>
    <script language="javascript" for="WebOffice" event="OnMenuCommand(param1,param2)">
        switch (param1) {
            case 50000:
                $('#acx').WebOffice('save')
                break;
            default:
        }
    </script>
</body>
</html>