@{
    ViewBag.Title = "DC_ASSETS_HouseRentDetail";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="lr-form-wrap" id="form">
    <div class="col-xs-6 lr-form-item">
        <div class="lr-form-item-title">资产编号</div>
        <input id="num" type="text" class="form-control" readonly />
    </div>
    <div class="col-xs-6 lr-form-item">
        <div class="lr-form-item-title">房屋名称</div>
        <input id="name" type="text" class="form-control" readonly />
    </div>
    <div class="col-xs-6 lr-form-item">
        <div class="lr-form-item-title">原管单位</div>
        <input id="unit" type="text" class="form-control" readonly />
    </div>
    <div class="col-xs-6 lr-form-item">
        <div class="lr-form-item-title">房屋面积</div>
        <input id="area" type="text" class="form-control" readonly />
    </div>
    <div class="col-xs-12 lr-form-item">
        <div class="lr-form-item-title">地址</div>
        <input id="address" type="text" class="form-control" readonly style="float:left;width:75%" />
        <button id="seePicture" class="btn btn-primary btn-sm" style="float:left;margin-center:5px">查看图片</button>
    </div>
    <div class="col-xs-6 lr-form-item" data-table="DC_ASSETS_HouseRentDetail">
        <div class="lr-form-item-title">评估价</div>
        <input id="F_ValuationPrice" type="text" class="form-control" isvalid="yes" checkexpession="NumOrNull" />
    </div>
    <div class="col-xs-6 lr-form-item" data-table="DC_ASSETS_HouseRentDetail">
        <div class="lr-form-item-title">招租底价<font face="宋体">*</font></div>
        <input id="F_RentReservePrice" type="text" class="form-control" isvalid="yes" checkexpession="Num" />
    </div>
    
  
    <div class="col-xs-6 lr-form-item" data-table="DC_ASSETS_HouseRentDetail">
        <div class="lr-form-item-title">租赁状态</div>
        <div id="F_LeaseState"></div>
    </div>

    <div class="col-xs-12 lr-form-item" data-table="DC_ASSETS_HouseRentDetail">
        <div class="lr-form-item-title">备注</div>
        <textarea id="F_Remarks" class="form-control" style="height:50px;"></textarea>
    </div>
    <div class="col-xs-12 lr-form-item lr-form-item-grid">
        <div id="DC_ASSETS_HouseRentDetail_Info"></div>
    </div>
</div>
@Html.AppendJsFile("/Areas/AssetManager/Views/DC_ASSETS_HouseRentDetail/FormInfo.js")
