@{
    ViewBag.Title = "DC_OA_Meeting";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="lr-form-wrap" id="form">
    @*<div class="col-xs-12 lr-form-item" data-table="DC_OA_Meeting">
        <div class="lr-form-item-title">标题</div>
        <input id="DC_OA_MeetingTitle" type="text" class="form-control" />
    </div>*@
    <div class="col-xs-12 lr-form-item" data-table="DC_OA_Meeting">
        <div class="lr-form-item-title">主题</div>
        <input id="DC_OA_MeetingTopic" type="text" class="form-control" />
    </div>
    <div class="col-xs-12 lr-form-item" data-table="DC_OA_Meeting">
        <div class="lr-form-item-title">内容</div>
        <textarea id="DC_OA_MeetingContent" class="form-control" style="height:100px;"></textarea>
    </div>
    <div class="col-xs-12 lr-form-item" data-table="DC_OA_Meeting">
        <div class="lr-form-item-title">主持人</div>
        <div id="DC_OA_MeetingManageId"></div>
    </div>
    <div class="col-xs-6 lr-form-item" data-table="DC_OA_Meeting">
        <div class="lr-form-item-title">起始时间<font face="宋体">*</font></div>
        <input id="DC_OA_StartTime" type="text" class="form-control lr-input-wdatepicker" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:mm:ss',onpicked: function () { $('#DC_OA_StartTime').trigger('change'); } })" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item" data-table="DC_OA_Meeting">
        <div class="lr-form-item-title">结束时间<font face="宋体">*</font></div>
        <input id="DC_OA_EndTime" type="text" class="form-control lr-input-wdatepicker" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:mm:ss',onpicked: function () { $('#DC_OA_EndTime').trigger('change'); } })" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item" data-table="DC_OA_Meeting">
        <div class="lr-form-item-title">会议室<font face="宋体">*</font></div>
        <div id="DC_OA_MeetingRoomRefId" isvalid="yes" checkexpession="NotNull"></div>
    </div>
    <div class="col-xs-6 lr-form-item" data-table="DC_OA_Meeting">
        <div class="lr-form-item-title">参会人员</div>
        <div id="DC_OA_MeetingIds"></div>
    </div>
    <div class="col-xs-12 lr-form-item" data-table="DC_OA_Meeting">
        <div class="lr-form-item-title">附件</div>
        <div id="F_Files"></div>
    </div>
</div>
@Html.AppendJsFile("/Areas/LR_CodeDemo/Views/DC_OA_Meeting/Form.js")
