<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name=”renderer” content=”webkit|ie-comp|ie-stand” />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="快速开发平台,Web快速开发平台,ASP.NET快速开发平台,工作流,快速开发框架,软件可视化开发平台,快速开发 开源,快速开发平台 开源,APP快速开发,敏捷开发框架,快速开发" />
    <meta name="description" content="敏捷开发框架，是一个Web可视化开发平台，是一个集PC快速开发、组织架构、工作流、表单设计、自定义报表、APP快速开发等全方位功能于一体的高效、稳定的快速开发平台。" />
    <link rel="icon" href="~/favicon.ico">

    <title>综合信息|快速开发平台|开发框架|@ViewBag.Title</title>
    <link href="~/Content/pace/pace-theme-minimal.css" rel="stylesheet" />
    <link href="~/Content/font/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/jquery/plugin/scrollbar/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <script src="https://webapi.amap.com/maps?v=1.4.12&key=@Learun.Util.Config.GetValue("AmapKey")"></script>
    <script src="//webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
    @Html.AppendCssFile(
    "/Views/LR_Content/style/lr-common.css",
    "/Views/ProjectHome/AdminDesktopTemp/index.css")
    <!--[if lt IE 9]>
      <script src="~/Content/bootstrap/html5shiv.min.js"></script>
      <script src="~/Content/bootstrap/respond.min.js"></script>
    <![endif]-->
</head>
<input type="hidden" class="qq" value="3" />
<input type="hidden" class="addr" />
<body class="@Learun.Util.Net.Browser @Learun.Util.WebHelper.GetUITheme()"><br />
	<div class="yc_tcc" style="right: -160px;height: 42px;">
		<div class="yc_ove">
			<div class="yc_an">
				<i class="fa fa-spin fa-gear"></i>
			</div>
			<div class="yc_title">
				业务系统 
			</div>
		</div>
		<div class="yc_list">
			<ul class="yc_ul">
				<li class="yc_li" onclick="parent.location.href='../../portal/index'">
					<i class="fa fa-pie-chart"></i>
					<span>OA管理系统</span>
					<img src="~/Content/images/right_arr.png"/>
				</li>
				<li class="yc_li" onclick="parent.location.href='../../assethome/index'">
					<i class="fa fa-globe"></i>
					<span>高投资产管理</span>
					<img src="~/Content/images/right_arr.png"/>
				</li>
				<li class="yc_li" onclick="parent.location.href='../../leaderhome/index'">
					<i class="fa fa-windows"></i>
					<span>领导驾驶舱</span>
					<img src="~/Content/images/right_arr.png"/>
				</li>
				<!--<li class="yc_li" onclick="parent.location.href='../../projecthome/index'">
					<i class="fa fa-globe"></i>
					<span>项目管理系统</span>
					<img src="~/Content/images/right_arr.png"/>
				</li>-->
			</ul>
		</div>
	</div>
    <div class="lr-desktop-panel">
        <div class="col-xs-12" style="display: none;">
            <div class="portal-panel-title">
                <i class="fa fa-balance-scale"></i>&nbsp;&nbsp;业务系统
            </div>
            <div class="portal-panel-content">
                <div class="lr-item-25">
                    <div class="task-stat" style="background-color: #578ebe;">
                        <div class="visual">
                            <i class="fa fa-pie-chart"></i>
                        </div>
                        <div class="details">
                            <div class="number">

                            </div>
                            <div class="desc">
                                OA管理系统
                            </div>
                        </div>
                        <a class="more" style="background-color: #4884b8;" href="javascript:;" onclick="parent.location.href='../../portal/index'">
                            查看更多 <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="lr-item-25">
                    <div class="task-stat" style="background-color: #e35b5a;">
                        <div class="visual">
                            <i class="fa fa-bar-chart-o"></i>
                        </div>
                        <div class="details">
                            <div class="number">

                            </div>
                            <div class="desc">
                                资产管理系统
                            </div>
                        </div>
                        <a class="more" style="background-color: #e04a49;" href="javascript:;" onclick="parent.location.href='../../assethome/index'">
                            查看更多 <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="lr-item-25">
                    <div class="task-stat" style="background-color: #44b6ae;">
                        <div class="visual">
                            <i class="fa fa-windows"></i>
                        </div>
                        <div class="details">
                            <div class="number">

                            </div>
                            <div class="desc">
                                领导驾驶舱
                            </div>
                        </div>
                        <a class="more" style="background-color: #3ea7a0;" href="javascript:;">
                            查看更多 <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="lr-item-25">
                    <div class="task-stat" style="background-color: #8775a7;">
                        <div class="visual">
                            <i class="fa fa-globe"></i>
                        </div>
                        <div class="details">
                            <div class="number">

                            </div>
                            <div class="desc">
                                更多应用
                            </div>
                        </div>
                        <a class="more" style="background-color: #7c699f;" href="javascript:;">
                            查看更多 <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div style="overflow:auto;position:absolute;top:0px;bottom:0px;left: 0px;right: 0px;" class="col-xs-12">
            <div id="mapDiv" style="width:100%; height:100%"></div>
            <div class="fssj">
				<ul class="fs_ul">
					<li class="fs_li lisd fs_li_style" type="1">工程项目</li>
				</ul>
			</div>
			<div class="xms">
				<div class="" style="margin-bottom: 6px;">
					项目列表
				</div>
				<div class="xms_list">
					<div class="xms_box">
						项目内容
					</div>
					<div class="xms_box">
						项目内容
					</div>
					<div class="xms_box">
						项目内容
					</div>
					<div class="xms_box">
						项目内容
					</div>
					<div class="xms_box">
						项目内容
					</div>
					<div class="xms_box">
						项目内容
					</div>
				</div>
			</div>
			<div class="xms_tc">
				<div class="xms_home">
					<div class="xms_top">
						<div class="xms_top_list xms_style">
							项目概述
						</div>
						<div class="xms_top_list">
							合同管理
						</div>
						<div class="xms_top_list">
							前期管理
						</div>
						<div class="xms_top_list">
							项目施工信息
						</div>
						<div class="xms_top_list">
							考勤统计
						</div>
						<div class="xms_top_list">
							项目进度
						</div>
						<div class="xm_gb">
							<img src="/Content/images/gb.png"/>
						</div>
					</div>
					<div class="xms_bot">
						<div class="xb_one" style="display: block;">
							<div class="xb_one_left">
								<div class="xb_tp">
									<div class="xb_nr">
										基本信息
									</div>
									<div class="xb_bottom">
										<table class="jbtab" border="" style="width: 90%;" cellspacing="" cellpadding="">
											<tr class="xb_tr">
												<th class="xb_th">项目名称</th>
												<th id="F_ProjectName" class="xb_th" style="width: 62%;background: #fff;color: #333;">金润元</th>
											</tr>
											<tr class="xb_tr">
												<th class="xb_th">项目编号</th>
												<th id="F_ProjectItemNumber" class="xb_th" style="width: 62%;background: #fff;color: #333;">商业用房</th>
											</tr>
											<tr class="xb_tr">
												<th class="xb_th">立项编号</th>
												<th id="F_ProjectYear" class="xb_th" style="width: 62%;background: #fff;color: #333;">武汉商业区</th>
											</tr>
											<tr class="xb_tr">
												<th class="xb_th">项目建设类型</th>
												<th id="F_ProjectBuildType" class="xb_th" style="width: 62%;background: #fff;color: #333;">出让</th>
											</tr>
											<tr class="xb_tr">
												<th class="xb_th">项目投资金额</th>
												<th id="F_EngineeringCost" class="xb_th" style="width: 62%;background: #fff;color: #333;">出让</th>
											</tr>
											<tr class="xb_tr">
												<th class="xb_th">行政区划</th>
												<th id="F_area" class="xb_th" style="width: 62%;background: #fff;color: #333;">出让</th>
											</tr>
											<tr class="xb_tr">
												<th class="xb_th">立项日期</th>
												<th id="F_ProjectApprovalDate" class="xb_th" style="width: 62%;background: #fff;color: #333;">出让</th>
											</tr>
											<tr class="xb_tr">
												<th class="xb_th">计划开工时间</th>
												<th id="F_PlannedStartDate" class="xb_th" style="width: 62%;background: #fff;color: #333;">出让</th>
											</tr>
											<tr class="xb_tr">
												<th class="xb_th">计划完工时间</th>
												<th id="F_PlannedEndDate" class="xb_th" style="width: 62%;background: #fff;color: #333;">出让</th>
											</tr>
											<tr class="xb_tr">
												<th class="xb_th">项目所属公司</th>
												<th id="F_JRYCompany" class="xb_th" style="width: 62%;background: #fff;color: #333;">出让</th>
											</tr>
											<tr class="xb_tr">
												<th class="xb_th">项目地址</th>
												<th id="F_ProjectAddress" class="xb_th" style="width: 62%;background: #fff;color: #333;">出让</th>
											</tr>
											<tr class="xb_tr">
												<th class="xb_th">备注</th>
												<th id="F_Remarks" class="xb_th" style="width: 62%;background: #fff;color: #333;">出让</th>
											</tr>
											<tr class="xb_tr">
												<th class="xb_th">记录时间</th>
												<th id="F_CreateDatetime" class="xb_th" style="width: 62%;background: #fff;color: #333;">出让</th>
											</tr>
										</table>
									</div>
								</div>
							</div>
							<div class="xb_one_right">
								<div class="xb_im">
									<img src="~/Content/images/fz.jpg"/>
								</div>
								
							</div>
						</div>
						<div class="xb_one">
							<h3 style="text-align: center;margin-bottom: 19px;margin-top: 8px;">合同信息</h3>
							<table border="" class="htgl" style="width: 100%;" cellspacing="" cellpadding="">
								<tr class="xb_tr bc">
									<!--<th class="xb_th">所属项目</th>-->
									<th class="xb_th">合同类型</th>
									<th class="xb_th">合同编号</th>
									<th class="xb_th">合同名称</th>
									<th class="xb_th">合同金额（元）</th>
									<th class="xb_th">结算方式</th>
									<th class="xb_th">付款方式</th>
									<th class="xb_th">签订时间</th>
								</tr>
								<!--<tr class="xb_tr">
									<th class="xb_thb">jp002</th>
									<th class="xb_thb">枝江民主路改造</th>
									<th class="xb_thb">高投公司</th>
									<th class="xb_thb">进行中</th>
									<th class="xb_thb">jp002</th>
									<th class="xb_thb">jp002</th>
									<th class="xb_thb">jp002</th>
									<th class="xb_thb">枝江民主路</th>
									<th class="xb_thb">2019.2.2</th>
								</tr>-->
								
							</table>
						</div>
						<div class="xb_one">
							<h3 style="text-align: center;margin-bottom: 19px;margin-top: 8px;">项目前期信息表</h3>
							<div class="xb_one_left">
								<div class="xb_tp">
									<div class="xb_bottom">
										<table class="xmqq" border="" style="width: 90%;" cellspacing="" cellpadding="">
											<tr class="xb_tr">
												<th class="xb_th">所属项目</th>
												<th class="xb_th" style="width: 62%;background: #fff;color: #333;"></th>
											</tr>
											<tr class="xb_tr">
												<th class="xb_th">所属项目</th>
												<th class="xb_th" style="width: 62%;background: #fff;color: #333;"></th>
											</tr>
											<tr class="xb_tr">
												<th class="xb_th">所属项目</th>
												<th class="xb_th" style="width: 62%;background: #fff;color: #333;"></th>
											</tr>
											<tr class="xb_tr">
												<th class="xb_th">所属项目</th>
												<th class="xb_th" style="width: 62%;background: #fff;color: #333;"></th>
											</tr>
											<tr class="xb_tr">
												<th class="xb_th">所属项目</th>
												<th class="xb_th" style="width: 62%;background: #fff;color: #333;"></th>
											</tr>
											<tr class="xb_tr">
												<th class="xb_th">所属项目</th>
												<th class="xb_th" style="width: 62%;background: #fff;color: #333;"></th>
											</tr>
										</table>
									</div>
								</div>
								
							</div>
							<div class="xb_one_right">
								<div class="xb_tp">
									<div class="xb_bottom">
										<table class="xmqqto" border="" style="width: 90%;" cellspacing="" cellpadding="">
											<tr class="xb_tr">
												<th class="xb_th">所属项目</th>
												<th class="xb_th" style="width: 62%;background: #fff;color: #333;"></th>
											</tr>
											<tr class="xb_tr">
												<th class="xb_th">所属项目</th>
												<th class="xb_th" style="width: 62%;background: #fff;color: #333;"></th>
											</tr>
											<tr class="xb_tr">
												<th class="xb_th">所属项目</th>
												<th class="xb_th" style="width: 62%;background: #fff;color: #333;"></th>
											</tr>
											
										</table>
									</div>
								</div>
							</div>
						</div>
						<div class="xb_one">
							<h3 style="text-align: center;margin-bottom: 19px;margin-top: 8px;">项目施工信息管理</h3>
							<table border="" class="xmsg" style="width: 100%;" cellspacing="" cellpadding="">
								<tr class="xb_tr bc">
									<th class="xb_th">日志编号</th>
									<th class="xb_th">填写部门</th>
									<th class="xb_th">填写人</th>
									<th class="xb_th">填写时间</th>
									<th class="xb_th">施工进度情况</th>
									<th class="xb_th">施工主要工作</th>
								</tr>
								
							</table>
						</div>
						<div class="xb_one">
							<h3 style="text-align: center;margin-bottom: 19px;margin-top: 8px;">考勤统计</h3>
							<table border="" class="kqdk" style="width: 100%;" cellspacing="" cellpadding="">
								<tr class="xb_tr bc">
									<th class="xb_th">打卡人姓名</th>
									<th class="xb_th">岗位</th>
									<th class="xb_th">所在班组</th>
									<th class="xb_th">上午打卡时间</th>
									<th class="xb_th">下午打卡时间</th>
									<th class="xb_th">备注说明</th>
								</tr>
								
							</table>
						</div>
						<div class="xb_one">
							<h3 style="text-align: center;margin-bottom: 19px;margin-top: 8px;">项目进度信息</h3>
							<table border="" class="xmjd" style="width: 100%;" cellspacing="" cellpadding="">
								<tr class="xb_tr">
									<th class="xb_th">项目名称</th>
									<th class="xb_th">月度</th>
									<th class="xb_th">填写人</th>
									<th class="xb_th">进度（%）</th>
									<th class="xb_th">填写时间</th>
									<th class="xb_th">汇报内容</th>
									<th class="xb_th">下月计划</th>
									<th class="xb_th">备注</th>
									<th class="xb_th">填写部门</th>
								</tr>
								
							</table>
						</div>
						
					</div>
				</div>
			</div>
			<!--<div class="xsp_dl">
				<div class="xs_sou">
					<input type="text" placeholder="输入你要搜索的内容" class="sx_inp" />
					<img src="~/Content/images/sousuo.png"/>
				</div>
				<div class="xsp_nr">
					
				</div>
				<div class="xsp_fy">
					<img class="shaye" src="~/Content/images/shangye.png"/>
					<div class="sxp_ym">
						1
					</div>
					<img class="xiaye" src="~/Content/images/xiaye.png"/>
				</div>
			</div>-->
			<!--<div class="xsp" style="width: 300px;">
				<div class="arr_jt">
					<img style="width: 20px;" src="~/Content/images/left_arr.png"/>
				</div>
				<div class="xs_title" style="width: 240px;">
					信息列表
				</div>
				<div class="xs_list" style="width: 240px;">
					
				</div>
			</div>-->
			<!--<div class="" style="position: fixed;left: 35%;right: 30%;width: 30%;top: 30px;height: 268px;background: #000;padding: 10px 8px 8px 10px;">
				<div class="sp_list">
					<img src="~/Content/images/csjk.jpg"/>
				</div>
				<div class="sp_list">
					<img src="~/Content/images/csjk.jpg"/>
				</div>
				<div class="sp_list">
					<img src="~/Content/images/csjk.jpg"/>
				</div>
				<div class="sp_list">
					<img src="~/Content/images/csjk.jpg"/>
				</div>
			</div>-->
        </div>
    </div>
<input type="hidden" class="sud" value="" />
<input type="hidden" class="kz" value="0" />
<div class="xt_alert">
		<div class="xta_title">
			<span>系统消息</span>
			<img style="float: right;margin-top: 11px;margin-right: 10px;" src="~/Content/images/guab.png"/>
		</div>
		<div class="xta_home">
			<div class="xta_left">
				<div class="xta_left_top">
					<div class="xta_sou">
						<img src="~/Content/images/sousuo_hei.png"/>
						<input type="text" class="xta_inp" />
					</div>
				</div>
				<div class="xta_left_bot">
					<div class="xta_bus">
						<div class="xta_list">
							<img src="~/Content/images/quanbu.png"/>
							<span>全部</span>
							<div class="bus_numb">
								3
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="xta_right">
				<div class="xta_right_top">
					<div class="xt_left">
						全部（99）
					</div>
					<div class="xt_right">
						全部设置已读
					</div>
					<div class="type_rig">
						<div class="tyr_list tyr_list_style">
							未读
						</div>
						<div class="tyr_list">
							已读
						</div>
					</div>
				</div>
				<div class="xta_box">
					
				</div>
			</div>
		</div>
	</div>
    <script src="~/Content/pace/pace.min.js"></script>
    <script src="~/Content/jquery/jquery-1.10.2.min.js"></script>
    <script src="~/Content/jquery/plugin/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Content/echarts/echarts.min.js"></script>
    <script src="~/Content/jQuery-EasyUi/jquery.easyui.min.js"></script>
    <link href="~/Content/jQuery-EasyUi/themes/bootstrap/easyui.css" rel="stylesheet" />
    <script src="https://webapi.amap.com/maps?v=1.4.14&key=f73d50800f65d1aa1533a45ab869a6ac&plugin=Map3D"></script>
	<script src="//a.amap.com/jsapi_demos/static/demo-center/model/js/three.js"></script>
	<script src="//a.amap.com/jsapi_demos/static/demo-center/model/js/loaders/MTLLoader.js"></script>
	<script src="//a.amap.com/jsapi_demos/static/demo-center/model/js/loaders/LoaderSupport.js"></script>
	<script src="//a.amap.com/jsapi_demos/static/demo-center/model/js/loaders/OBJLoader2.js"></script>
    @Html.AppendJsFile("/Views/ProjectHome/AdminDesktopTemp/index.js")
    <script type="text/javascript">
    	$(".xm_gb").click(function(){
    		$(".xms_tc").hide()
    	})
    	
    	$(".xms_box").click(function(){
    		$(".xms_tc").show()
    	})
    	$(".xms_top_list").click(function(){
    		$(".xms_top_list").removeClass("xms_style")
    		$(this).addClass("xms_style")
    		$(".xb_one").hide().eq($(this).index()).show()
    	})
    	
    	
    	xmmc()//项目名称
    	function xmmc(){
			top.learun.httpAsync('GET', top.$.rootUrl + '/ProjectHome/GetProjectInfo', {}, function (data) {
		        if (data) {
		        	console.log(data);
		        	$(".xms_list").empty();
		        	var bu=0
		            if (data.length > 0) {
		            	$.each(data, function (index, item) {
		            		var name=item.F_ProjectName;
		            		var html="<div class='xms_box' id='"+item.F_CenterpointCoordinates+"'>"+name+"<div></div></div>";
		            		$(".xms_list").append(html)
		            		bu++
		                })
		            }
		
		        } else {
		            console.log("error");
		        }
		    })
		}
    	
		function xmgs(){
			top.learun.httpAsync('GET', top.$.rootUrl + '/ProjectHome/GetProjectInfo', {}, function (data) {
		        if (data) {
		        	console.log(data);
		            if (data.length > 0) {
		                
		            }
		
		        } else {
		            console.log("error");
		        }
		    })
		}
    	
    	
    	
    	var myChart = echarts.init(document.getElementById('xb_each'));
    	var myCharttwo = echarts.init(document.getElementById('xb_eachb'));
    	option = {
		    
		    tooltip : {
		        trigger: 'axis'
		    },
		    legend: {
		        data:['总投资','合同金额']
		    },
		   
		    calculable : true,
		    xAxis : [
		        {
		            type : 'category',
		            data : [' ']
		        }
		    ],
		    yAxis : [
		        {
		            type : 'value'
		        }
		    ],
		    series : [
		        {
		            name:'总投资',
		            type:'bar',
		            data:[500],
		          
		            markLine : {
		                data : [
		                    {type : 'average', name: '平均值'}
		                ]
		            }
		        },
		        {
		            name:'合同金额',
		            type:'bar',
		            data:[200],
		          
		            markLine : {
		                data : [
		                    {type : 'average', name : '平均值'}
		                ]
		            }
		        }
		    ]
		};

    	option2 = {
		    tooltip : {
		        trigger: 'item',
		        formatter: "{a} <br/>{b} : {c} ({d}%)"
		    },
		    legend: {
		        orient: 'vertical',
		        left: 'left',
		        data: ['施工合同','勘测设计合同','咨询服务合同']
		    },
		    series : [
		        {
		            name: '访问来源',
		            type: 'pie',
		            radius : '55%',
		            center: ['50%', '60%'],
		            data:[
		                {value:335, name:'施工合同'},
		                {value:310, name:'勘测设计合同'},
		                {value:234, name:'咨询服务合同'}
		            ],
		            itemStyle: {
		                emphasis: {
		                    shadowBlur: 10,
		                    shadowOffsetX: 0,
		                    shadowColor: 'rgba(0, 0, 0, 0.5)'
		                }
		            }
		        }
		    ]
		};

    	
    	
    	myCharttwo.setOption(option2)
    	myChart.setOption(option)
    	
    	$(".yc_an").click(function(){
			var wid=$(".yc_tcc").css("right");
			if(wid=="10px"){
				$(".yc_tcc").animate({
				right: '-160px'
				}, 300);
			} else{
				$(".yc_tcc").animate({
				right: '10px'
				}, 300);
			}
		});
		
		$(".arr_jt").click(function () {
            var wid = $(".xsp").width();
            if (wid == 16.4) {
                $(".xsp").animate({
                    width: '300px'
                }, 100);
                $(this).removeClass("ind_la").addClass("ind_shang");
            } else {
                $(".xsp").animate({
                    width: '38px'
                }, 100);
                $(this).removeClass("ind_shang").addClass("ind_la");
            }
        });
        
        
        window.parent.$("body").delegate(".xxtx", "click", function (event) {
		   $(".xt_alert").show()
		})
		$(".xta_title img").click(function(){
    		$(".xt_alert").hide()
    	})
		
        xtxiaoxi()  //系统消息
		function xtxiaoxi(){
			top.learun.httpAsync('GET', top.$.rootUrl + '/Portal/GetOAMessage', {}, function (data) {
		        if (data) {
		        	console.log(data);
		            if (data.rows.length > 0) {
		            	var bcd=0
		                $(".xta_left_bot").empty();
		                var html="<div class='xta_bus' id=''><div class='xta_list'><img src='/Content/images/quanbu.png'/><span>全部</span><div class='bus_numb'>"+data.total+"</div></div></div>"
                    	$(".xta_left_bot").append(html);
		                $.each(data.rows, function (index, item) {
		                	bcd++
	                		var html="<div class='xta_bus' id='"+item.f_strategycode+"'><div class='xta_list'><img src='"+item.f_imageurl+"'/><span>"+item.f_strategyname+"</span><div class='bus_numb'>"+item.count+"</div></div></div>"
	                   		$(".xta_left_bot").append(html);
		                    if(item.count<0||item.count==null){
		                    	$(".bus_numb").eq(bcd).hide()
		                    }
		                    
		                })
		                mlist()
		            }
		
		        } else {
		            console.log("error");
		        }
		    })
		}
		
		$("body").delegate(".xta_bus", "click", function () {
			var mid=$(this).attr("id")
			var src=$(this).find("img").attr("src")
	    	$(".xta_list").removeClass("xta_list_style")
	    	$(this).find(".xta_list").addClass("xta_list_style")
	    	mlist()
        })
		
		$(".tyr_list").click(function(){
			$(".tyr_list").removeClass("tyr_list_style")
			$(this).addClass("tyr_list_style")
			mlist()
		})
		
		function mlist(){
			var siud=$(".xta_list_style").parents(".xta_bus").attr("id")
			var yd;
			if($(".tyr_list_style").text().trim()=="已读"){
				yd=1
			} else {
				yd="";
			}
			 var Pagination =
		{
		    rows: 5, page: 1, sidx: "F_CreateDate DESC", sord: "Asc", records: 0, total: 0
		};
			
			top.learun.httpAsync('GET', top.$.rootUrl + '/Portal/GetMessageList', {pagination:JSON.stringify(Pagination),code:siud,isRead:yd}, function (data) {
				console.log(data)
				$(".xta_box").empty();
				if(siud==undefined){
            		var quanb="全部("+data.total+")";
            		$(".xt_left").text(quanb)
                } else {
                	var df=0;
                	if(data.total!=null){
                		df=data.total
                	}
                	var sty=$(".xta_list_style").find("span").text()
                	var quanb=sty+"("+df+")";
            		$(".xt_left").text(quanb)
                }
		        if (data) {
		            if (data.rows.length > 0) {
		                
		                $.each(data.rows, function (index, item) {
		                	var dd=item.F_StrategyName;
		                	var dq;
		                	var src="quanbu.png";
		                	if(dd=="流程审核通知"){src="shenhe.png"} else if(dd=="督办工作下达通知"){src="duban.png"}else if(dd=="流程审核超时通知"){src="chaoshi.png"} else if(dd=="会议消息通知"){src="hytzhi.png"}
		                	else if(dd=="督办消息提醒"){src="dbxxi.png"}else if(dd=="绩效考核"){src="jixiao.png"}else if(dd=="广告租金到期提醒"){src="ggyq.png"}
		                	else if(dd=="督办逾期提醒"){src="dbyq.png"}else if(dd=="公文抄送"){src="gongwen.png"}else if(dd=="房屋租金到期提醒"){src="fwzj.png"}
		                	if(yd==1){
		                		dq="已读"
		                	} else {dq="未读"}
	                		var html="<div class='xta_lb' id='"+item.F_MessageId+"'><div class='lb_top'><img src='/Content/images/"+src+"'><span>"+item.F_StrategyName+"</span><div class='duqu'>"+dq+"</div></div>"+
							"<div class='lb_box'><div class='lb_box_tit'>"+item.SendContent+"</div>"+
							"<div class='lb_bo x_list'>"+item.FromUserName+"："+item.F_CreateDate+"</div><div class='lb_ck'>查看日程</div></div></div>"
	                   		$(".xta_box").append(html);
		                })
		            }
		
		        } else {
		            console.log("error");
		        }
		    })
		}
		
		
		$("body").delegate(".duqu", "click", function () {
			var cid=$(this).parents(".xta_lb").attr("id")
			qryd(cid)
        })
		
		$(".xt_right").click(function(){ //全部已读
			$(".xta_lb").each(function(){
				var cid=$(this).attr("id")
				qryd(cid)
			})
		})
		
		function qryd(cid){
			if($(".tyr_list_style").text().trim()=="未读"){
				top.learun.httpAsync('POST', top.$.rootUrl + '/Portal/EnterMessage', {messageid:cid}, function (data) {
//					xtxiaoxi()
					mlist()
			    })
			}
		}
    </script>
</body>
</html>













