.lr-workspace-header {
    padding:6px 40px;
}
    .lr-workspace-header .scanner {
        position: absolute;
        top: 10px;
        left: 10px;
        color: #fff;
    }
        .lr-workspace-header .scanner .iconfont {
            font-size: 22px;
            font-weight: 100;
        }
    .lr-workspace-header .searchBox {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #0C86D8;
    }

        .lr-workspace-header .searchBox i {
            position: absolute;
            top: 8px;
            left: 10px;
            color: #fff;
            z-index: 1;
            font-size: 12px;
        }

        .lr-workspace-header .searchBox .search {
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 3px;
            line-height: 30px;
            font-size: 14px;
            background-color: #3d9ee0;
            padding-left: 30px;
            color: #fff;
        }



    .lr-workspace-header .message {
        position: absolute;
        top: 10px;
        right: 10px;
        color: #fff;
    }
        .lr-workspace-header .message .iconfont {
            font-size: 22px;
            font-weight: 100;
        }

.lr-workspace-page {
    position: relative;
    width: 100%;
    height:100%;
}
    .lr-workspace-page .head {
        position: absolute;
        width: 100%;
        height:120px;
        top:0;
        left:0;
    }

    .lr-workspace-page .banner {
        position: relative;
        width: 100%;
        height: 120px;
        /*background: url(images/banner.png);*/
        background-size: 100% 100%;
    }
        .lr-workspace-page .banner img {
            height: 120px;
        }

    .lr-workspace-page .news {
        position: relative;
        height: 30px;
        background-color: #FFFEEC;
        padding:0 10px;
    }
        .lr-workspace-page .news:after {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 1px;
            content: '';
            -webkit-transform: scaleY(.5);
            transform: scaleY(.5);
            background-color: #f2f2f2;
        }

        .lr-workspace-page .news .left {
            margin-right: 7px;
            font-size: 25px;
            float: left;
            color: #F77338;
            line-height: 23px;
        }
        .lr-workspace-page .news .middle {
            float: left;
            width: 70%;
            display: inline-block;
            font-size: 12px;
            color: #F4520C;
            line-height: 30px;
        }
        .lr-workspace-page .news .right {
            float: right;
            margin-top: 5px;
            padding: 0 6px;
            font-size: 10px;
            color: #F77338;
            border: 1px solid #F66323;
            border-radius: 3px;
        }
.ws_modulelist-page {
    position: absolute;
    top: 120px;
    width: 100%;
    height:unset !important;
}

.lr-modulelist-page .lr-app-panel {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    background-color: #fff;
}

    .lr-modulelist-page .lr-app-panel .title {
        position: relative;
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        color: #333333;
        padding-left: 10px;
        text-align: left;
    }

        .lr-modulelist-page .lr-app-panel .title button {
            position: absolute;
            right: 7px;
            top: 7px;
            height: 26px;
            line-height: 14px;
        }


        .lr-modulelist-page .lr-app-panel .title:after {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 1px;
            content: '';
            -webkit-transform: scaleY(.5);
            transform: scaleY(.5);
            background-color: #c8c7cc;
        }

    .lr-modulelist-page .lr-app-panel > .content {
        position: relative;
        width: 100%;
        min-height: 90px;
        background-color: #fff;
        padding: 10px 5px 0 5px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        text-align: center;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

.lr-modulelist-page .appitem {
    position: relative;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    padding-bottom: 10px;
}


    .lr-modulelist-page .appitem > div {
        margin: auto;
        margin-bottom: 5px;
        height: 45px;
        width: 45px;
        line-height: 45px;
        text-align: center;
        border-radius: 50%;
    }



    .lr-modulelist-page .appitem:nth-child(7n+1) > div {
        background-color: #62bbff;
    }

    .lr-modulelist-page .appitem:nth-child(7n+2) > div {
        background-color: #7bd2ff;
    }

    .lr-modulelist-page .appitem:nth-child(7n+3) > div {
        background-color: #ffd761;
    }

    .lr-modulelist-page .appitem:nth-child(7n+4) > div {
        background-color: #fe955c;
    }

    .lr-modulelist-page .appitem:nth-child(7n+5) > div {
        background-color: #ff6283;
    }

    .lr-modulelist-page .appitem:nth-child(7n+6) > div {
        background-color: #60e3f3;
    }

    .lr-modulelist-page .appitem:nth-child(7n) > div {
        background-color: #acc8fe;
    }

    .lr-modulelist-page .appitem i {
        color: #fff;
        font-size: 26px;
    }

    .lr-modulelist-page .appitem > span {
        font-size: 12px;
        color: #333;
        padding-left:5px;
    }


.lr-desktop-msg {
    position:relative;
    width:100%;
    height:100%;
}

/**/
.lr-black-panel {
    position: relative;
    width: 100%;
    background-color: #fff;
    margin-bottom:10px;
}
    .lr-black-panel .lr-title {
        position: relative;
        width: 100%;
        height: 35px;
        line-height: 35px;
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #333333;
        padding-left:10px;
    }

        .lr-black-panel .lr-title:after {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 1px;
            content: '';
            -webkit-transform: scaleY(.5);
            transform: scaleY(.5);
            background-color: #c8c7cc;
        }

    .lr-black-panel .lr-content {
        position: relative;
        width: 100%;
    }
    .lr-black-panel .lr-flex-content {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        text-align: center;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
        .lr-black-panel .lr-flex-content .targetItem {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 33.33%;
            -ms-flex: 0 0 33.33%;
            flex: 0 0 33.33%;
            height: 80px;
            padding-top: 10px;
            position: relative;
        }

            .lr-black-panel .lr-flex-content .targetItem:before {
                position: absolute;
                right: 0;
                bottom: 0;
                top: 0;
                width: 1px;
                content: '';
                -webkit-transform: scaleX(.5);
                transform: scaleX(.5);
                background-color: #c8c7cc;
            }
            .lr-black-panel .lr-flex-content .targetItem:nth-of-type(3n):before {
                display: none;
            }

            .lr-black-panel .lr-flex-content .targetItem:after {
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                height: 1px;
                content: '';
                -webkit-transform: scaleY(.5);
                transform: scaleY(.5);
                background-color: #c8c7cc;
            }
.targetItem .name {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #666666;
    margin-bottom:5px;
}
.targetItem .number {
    font-family: PingFangSC-Regular;
    font-size: 24px;
    color: #0188D2;
}
.lr-dtlist-item {
    padding-right:90px;
}
.lr-dtlist-item .date {
    position: absolute;
    right: 10px;
    top: 0;
}
.lr-chart-content {
    height:220px;
}
.lr-chart-container {
    position:relative;
    width:100%;
    height:100%;
}
#lr_edit_myapp{
    border:1px #fff solid;
}


.xm_list{
	padding: 10px;
}
.xm_box{
	overflow: hidden;
	margin-bottom: 10px;
	margin-top: 10px;
}
.xm_box_left{
	width: 16%;
	float: left;
	text-align: center;
}
.xm_box_left img{
	width: 30px;
	margin-top: 11px;
}
.xm_box_right{
	float: right;
	width: 80%;
	border-bottom: 1px solid #ddd;
	padding-bottom: 11px;
	margin-right: 2%;
}
.xbox_top{
	overflow: hidden;
}
.xbox_tit{
	float: left;
	color: #333333;
	font-size: 16px;
	width: 67%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.xobx_time{
	float: right;
	color: #999999;
	font-size: 13px;
}
.xbox_bottom{
	font-size: 14px;
	margin-top: 7px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #666666;
}

#tu_one,#tu_two,#tu_thr,#tu_for,#tu_five{
	width: 100%;
	height: 300px;
}
.bt_title{
	text-align: center;
	padding-top: 15px;
	font-size: 17px;
	color:#333333;
}
.nr_box{
	border-bottom: 1px solid#b8b8b8;
	padding-bottom: 4px;
}
.mape_gb{
	display: none;
	position: fixed;
	z-index: 100000;
	left: 10px;
	top: 55px;
	background:#247ab8;
	width: 83px;
	line-height: 27px;
	text-align: center;
	font-size: 14px;
	color:#fff;
	border-radius: 4px;
}
.f-page-body{
	background: #fff;
}
.nr_sou{
	overflow: hidden;
	margin-top: 10px;
	border-bottom: 1px solid#d0c6c6;
	margin-right: 10px;
	display: none;
}
.nr_sou_left{
	float: left;
	width: 70%;
}
.nr_inp{
	float: left;
	width: 95%;
	height: 30px;
}
.nr_sou_right{
	float: right;
}
.nr_sou_box{
	width: 70px;
	text-align: center;
	background:#0696ff;
	color:#fff;
	border-radius: 5px;
	line-height: 29px;
}
.nr_type{
	position: fixed;
	left: 10px;
	right: 0px;
	top: 42px;
	bottom: 0px;
	background: #fff;
}
.nr_type_list,.nr_type_listt,.nr_type_listd{
	border-bottom: 1px solid#c4c4c4;
	line-height: 38px;
}
.nr_type_list img,.nr_type_listt img,.nr_type_listd img{
	float: right;
	width: 10px;
	margin-right: 10px;
	margin-top: 9px;
}
.fw_tc{
	display: none; 	
}
.box_list{
	background: #fff;
}
.box_li{
	float: left;
	width: 25%;
	list-style: none;
	text-align: center;
	font-size: 13px;
}
.box_li img{
	width: 50px;
}
.box_ul{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	margin-bottom: 20px;
}
.tcbj{
	
}
.xmgk{
	padding: 10px;
}
.box_ul_two .box_li{
	width: 25%;
}

.box_fh, .syb{
	width: 100px;
	/*margin: 0px auto;*/
	background:#00abff;
	border-radius: 5px;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	color:#fff;
	/*margin-top: 40px;*/
}
.syb{
	width: 115px;
}
.box_fh img ,.syb img{
	width: 20px;
	margin-top: 6px;
	margin-bottom: -3px;
	margin-right: 4px;
}
.wcjd{
	color:#959595;
	font-size: 13px;
	margin-bottom: -4px;
}
.xm_img{
	width: 20px;
	margin-top: 0px;
	margin-right: 8px;
	float: left;
}
.xm_title span{
	margin-top: 2px;
	display: block;
	float: left;
}
.bt_list{
	margin-bottom: 10px;
	background: #d8d8d8;
	line-height: 30px;
	font-size: 14px;
	text-indent: 10px;
}
.nr_an{
	overflow: hidden;
}
.xm_yl{
	float: left;
	padding: 0 5px;
	text-align: center;
	background:#00d203;
	border-radius: 5px;
	color:#fff;
	margin-right: 5px;
}
.xm_xz{
	float: left;
	background:#009fff;
	color:#fff;
	padding: 0 5px;
	text-align: center;
	border-radius: 5px;
}
.nr_sg_list {
    width: 25%;
    margin-top: 11px;
    float: left;
    text-align: center;
    font-size: 13px;
}
.nr_sg_list img {
    width: 50px;
}
.nr_sg_list span {
    height: 20px;
    overflow: hidden;
    display: block;
    width: 80%;
    text-align: center;
    margin: 0px auto;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.nd_list{
	background: #fff;
}
.sg_bot{
	padding: 10px;
}
