@{
    ViewBag.Title = "DC_OA_OverSeeWork";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="lr-form-wrap">
    <div class="col-xs-12 lr-form-item" data-table="DC_OA_OverSeeWork">
        <div class="lr-form-item-title">编 码</div>
        <input id="F_OSWCode" type="text" readonly class="form-control" />
    </div>
    <div class="col-xs-12 lr-form-item" data-table="DC_OA_OverSeeWork">
        <div class="lr-form-item-title">工作主题</div>
        <input id="F_OSCaptain" type="text" class="form-control" />
    </div>
    <div class="col-xs-12 lr-form-item" data-table="DC_OA_OverSeeWork">
        <div class="lr-form-item-title">工作事项</div>
        <textarea id="F_OSWContent" class="form-control" style="height:100px;"></textarea>
    </div>
    <div class="col-xs-12 lr-form-item" data-table="DC_OA_OverSeeWork">
        <div class="lr-form-item-title">附件</div>
        <div id="F_Attachments"></div>
    </div>
    <div class="col-xs-6 lr-form-item" data-table="DC_OA_OverSeeWork">
        <div class="lr-form-item-title">开始时间<font face="宋体">*</font></div>
        <input id="F_BeginDate" type="text" class="form-control lr-input-wdatepicker" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd',onpicked: function () { $('#F_BeginDate').trigger('change'); } })" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item" data-table="DC_OA_OverSeeWork">
        <div class="lr-form-item-title">结束时间<font face="宋体">*</font></div>
        <input id="F_EndDate" type="text" class="form-control lr-input-wdatepicker" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd',onpicked: function () { $('#F_EndDate').trigger('change'); } })" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item" data-table="DC_OA_OverSeeWork">
        <div class="lr-form-item-title">牵头部门<font face="宋体">*</font></div>
        <div id="F_DepartmentId" isvalid="yes" checkexpession="NotNull"></div>
    </div>
    <div class="col-xs-6 lr-form-item" data-table="DC_OA_OverSeeWork">
        <div class="lr-form-item-title">负责人<font face="宋体">*</font></div>
        <div id="F_LeaderUserId" isvalid="yes" checkexpession="NotNull"></div>
    </div>
    <div class="col-xs-6 lr-form-item" data-table="DC_OA_OverSeeWork">
        <div class="lr-form-item-title">责任领导<font face="宋体">*</font></div>
        <div id="F_HighLeaderId"></div>
    </div>
    <div class="col-xs-6 lr-form-item" data-table="DC_OA_OverSeeWork">
        <div class="lr-form-item-title">督办人<font face="宋体">*</font></div>
        <div id="F_OverSeeUserId" isvalid="yes" checkexpession="NotNull"></div>
    </div>
    <div class="col-xs-6 lr-form-item" data-table="DC_OA_OverSeeWork">
        <div class="lr-form-item-title">督办分类</div>
        <div id="F_OSWType"></div>
    </div>
    <div class="col-xs-6 lr-form-item" data-table="DC_OA_OverSeeWork">
        <div class="lr-form-item-title">登记来源</div>
        <div id="F_VisitFrom"></div>
    </div>
    <div class="col-xs-12 lr-form-item" data-table="DC_OA_OverSeeWork">
        <div class="lr-form-item-title">备注</div>
        <textarea id="F_Marks" class="form-control" style="height:100px;"></textarea>
    </div>
</div>
@Html.AppendJsFile("/Areas/LR_CodeDemo/Views/DC_OA_OverSeeWork/Form.js")
