.lr-refer-page {
    position: relative;
    height: 100%;
    width: 100%;
}

    .lr-refer-page .container {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #efeff4;
    }
