@{
    ViewBag.Title = "车辆信息管理";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="lr-form-wrap">
    <div class="col-xs-12 lr-form-item" style="padding:0;line-height:38px;text-align:center;font-size:20px;font-weight:bold;color:#333;" >
        <span>车辆信息管理</span>
    </div>
    <div class="col-xs-6 lr-form-item"  data-table="DC_OA_Vehicle" >
        <div class="lr-form-item-title">名称<font face="宋体">*</font></div>
        <input id="F_VehicleName" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item"  data-table="DC_OA_Vehicle" >
        <div class="lr-form-item-title">车牌号<font face="宋体">*</font></div>
        <input id="F_VehicleNO" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item"  data-table="DC_OA_Vehicle" >
        <div class="lr-form-item-title">规格</div>
        <input id="F_VehicleSpec" type="text" class="form-control"  />
    </div>
    <div class="col-xs-6 lr-form-item"  data-table="DC_OA_Vehicle" >
        <div class="lr-form-item-title">型号</div>
        <input id="F_VehicleTpye" type="text" class="form-control"  />
    </div>
    <div class="col-xs-6 lr-form-item"  data-table="DC_OA_Vehicle" >
        <div class="lr-form-item-title">开始使用日期</div>
        <input id="F_VehicleStartDate" type="text" class="form-control lr-input-wdatepicker" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd',onpicked: function () { $('#F_VehicleStartDate').trigger('change'); } })"   />
    </div>
    <div class="col-xs-6 lr-form-item"  data-table="DC_OA_Vehicle" >
        <div class="lr-form-item-title">默认司机</div>
        <div id="F_VehicleDefaulUseId"  ></div>
    </div>
    <div class="col-xs-12 lr-form-item"  data-table="DC_OA_Vehicle" >
        <div class="lr-form-item-title">备注</div>
        <textarea id="F_Description" class="form-control" style="height:150px;"  ></textarea>
    </div>
</div>
@Html.AppendJsFile("/Areas/LR_CodeDemo/Views/DC_OA_Vehicle/Form.js")
